@import "tailwindcss";
@plugin "../node_modules/daisyui/index.js";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@theme {
  /* font */
  --font-rabta: "Plus Jakarta Sans", sans-serif;
  /* custom colors */
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
  --color-bg: rgb(255, 255, 255);
  --color-text: #0f172a;
  --color-error: #ff3333;
}
body {
  font-family: var(--font-rabta);
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
}
@layer base {
  h1 {
    font-size: 40px;
    color: rgb(83, 100, 113);
  }
  h2 {
    font-size: 28px;
    color: rgb(83, 100, 113);
  }
  h3 {
    font-size: 22px;
    color: rgb(83, 100, 113);
  }
  span {
    color: rgb(83, 100, 113);
  }
  label {
    color: rgb(83, 100, 113);
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
